<div class="row home">
	<div class="small-10 medium-8 small-centered columns">
		<h1 class="app_title"><%= "gestion de commande".mb_chars.capitalize %></h1>
		<h3 class="team"><%= "équipe 10".mb_chars.capitalize %></h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nec facilisis sem, eu lobortis arcu. Phasellus sit amet nisi et quam tempor condimentum vitae at elit. Aliquam erat volutpat. Donec malesuada laoreet ipsum, sit amet rhoncus sapien sagittis at. Ut volutpat mauris libero, quis fringilla sapien cursus eu. Donec convallis vulputate dignissim. Ut elementum sed tellus et bibendum. Quisque in semper est, eu scelerisque nulla. Pellentesque pellentesque congue accumsan.</p>
		<p>Vivamus rutrum enim nec lorem mattis vulputate. Ut sed lacus fermentum, sodales nunc sit amet, bibendum massa. Sed finibus facilisis lectus, mollis euismod nisi aliquet sit amet. Praesent eleifend dolor at urna ullamcorper, at tristique urna egestas. Nunc quis ultricies enim. Sed tempor pellentesque augue non elementum. Donec tincidunt vulputate mollis. Ut malesuada pretium ipsum, nec volutpat felis rutrum fermentum. Integer vulputate erat ut congue suscipit. Duis ac mi quam. Donec maximus tempor nibh in rutrum. Nunc egestas ligula nec dui rhoncus tempor.</p>
	</div>
</div>