
<%= render 'form' %>


	<ul class="button-group radius small-12 columns">
		<li><%= link_to 'Show', @commande, class: "button tiny secondary" %></li>
		<li><%= link_to 'Back', commandes_path, class: "button tiny secondary" %></li>
	</ul>
