<h1>Editing Restaurant</h1>

<%= render 'form' %>

<ul class="button-group radius">
	<li><%= link_to 'Show', @restaurant, class: "button tiny secondary" %></li>
	<li><%= link_to 'Back', restaurants_path, class: "button tiny secondary" %></li>
</ul>
