<div class="small-12 columns"><h1>Modifier Restaurant</h1></div>

<div class="small-12 columns"><%= render 'form' %></div>

<div class="small-12 columns"><ul class="button-group radius">
	<li><%= link_to 'Show', @restaurant, class: "button tiny secondary" %></li>
	<li><%= link_to 'Back', restaurants_path, class: "button tiny secondary" %></li>
</ul></div>
