<div class="small-12 columns">
  <h1>Nouveau Restaurant</h1>
</div>
<div class="small-12 columns">
  <%= render 'form' %>
</div>
<div class="small-12 columns">
	<%= link_to 'Back', restaurants_path, class: "button tiny radius secondary" %>
</div>
