<div class="row">
	<p>
	  <strong>Nom:</strong>
	  <%= @restaurant.nom %>
	</p>
	<p>
	  <strong>Restaurateur:</strong>
	  <%= @restaurant.restaurateur.capitalize %>
	</p>
</div>


<div class="row">
	<ul class="button-group radius">
		<li><%= link_to 'Edit', edit_restaurant_path(@restaurant), class: "button tiny secondary" %></li>
		<li><%= link_to 'Back', restaurants_path, class: "button tiny secondary" %></li>
	</ul>
</div>
