// Place all the styles related to the menus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.menus {
  .pricing-table.plat {
    li {
      &.title {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      &.description {
        height: 80px;
      }
    }
  }
}