<li class="has-dropdown">
  <a href="#">Client</a>
  <ul class="dropdown">
    <li><%= link_to "Passer une Commandes", new_commande_path %></li>
    <li><label>Paramètres</label></li>
    <li><%= link_to "Gérer Compte", edit_user_registration_path %></li>
  </ul>
</li>