<li class="has-dropdown">
  <a href="#">Entrepreneur</a>
  <ul class="dropdown">
    <!-- <li><label>Scopes</label></li> -->
    <li><%= link_to "Gérer Restaurateurs", restaurateurs_path %></li>
    <li><%= link_to "Gérer Restaurants", restaurants_path %></li>
  </ul>
</li>