<li class="has-dropdown">
  <a href="#">Restaurateur</a>
  <ul class="dropdown">
    <!-- <li><label>Scopes</label></li> -->
    <li><%= link_to "Gérer Menus", '#' %></li>
    <li><%= link_to "Préparer Commandes [Pending]", commandes_path %></li>
  </ul>
</li>