<li class="has-dropdown">
  <a href="#">Restaurateur</a>
  <ul class="dropdown">
    <!-- <li><label>Scopes</label></li> -->
    <li><%= link_to "Gérer Menus", restaurants_path %></li>
    <li><%= link_to "Préparer Commandes", users_commandes_a_preparer_path %></li>
  </ul>
</li>