<footer>
    <div class="row">
      <div class="small-6 columns">
        <span class="copyright">© Copyright 2014. Équipe 10.</span>
      </div>
      <div class="small-6 columns">
        <small class="right" style="margin-top: 10%">Page générée en <%= render_time %> seconde(s).</small>
        <!-- <ul class="inline-list right">
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Privacy</a></li>
        </ul> -->
      </div>
  </div>
</footer>